.git
.github
.wip
.claude
.env
.env.backup
.env.production
node_modules
vendor
bootstrap/cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
k8s
docker-compose.yaml
compose.yaml
*.md
tests
database/seeders
database/factories
phpunit.xml
.editorconfig
.infra
.phpunit.cache
.phpunit.result.cache
